{% extends 'base.html.twig' %} {% block title %} Hello Acceuil! {% endblock %}
{% block body %}
<style></style>

{% include "navbar/navbar.html.twig" %}
<div class="example-wrapper">
  <h1>Page d'Acceuil</h1>
</div>
<div class="row w-100 m-auto">
  {% for article in articles %}
  <div class="card col-md-4" style="width: 18rem">
    <p class="date">
      Ecrit le {{ article.createdAt | date("d/m/y")  }} à
      {{ article.createdAt | date("H:m") }} par
      <span class="author">{{ article.auteur }}</span>
    </p>
    <img
      src="{{asset('image/article/' ~ article.image)}}"
      alt="{{ article.title }}"
      class="h-50"
    />
    <div class="card-body">
      <h5 class="card-title">{{ article.title | upper }}</h5>
      <a href="{{ path('show', { id: article.id }) }}" class="btn btn-primary"
        >En Savoir plus</a
      >
    </div>
  </div>
  {% endfor %}
  <div class="col-md-4">
    <h2>Catégories</h2>
    <ul class="list-group">
      {% for categorie in categories %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <a href="{{ path('show_articles_category', { id: categorie.id }) }}"
          >{{ categorie.title }}
          <span class="badge bg-primary rounded-pill"
            >{{ categorie.articles | length }} article(s)</span
          >
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
