{% extends 'base.html.twig' %} {% block title %}Hello UserController!{% endblock
%} {% block body %}
<style>
  .example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
  }
  .example-wrapper code {
    background: #f5f5f5;
    padding: 2px 6px;
  }
</style>
{% include "navbar/navbar.html.twig" %}
<div class="example-wrapper">
  <h1>{{ controller_name }}! ✅</h1>

  {# {{ form(user) }} #}
</div>

{{ form_start(user) }}
<div class="row">
  <div class="col-md-4">
    {{ form_row(user.username, {'label': "Nom d'utilisateur : ", 'attr': {
                'placeholder' : "Votre nom d'utilisateur ..."

    }}) }}
  </div>
  <div class="col-md-4">
    {{ form_row(user.firstname, {'label': "Votre Prénom : ", 'attr': {
                'placeholder' : "Votre Prénom ..."

    }}) }}
  </div>
  <div class="col-md-4">
    {{ form_row(user.lastname, {'label': "Votre Nom : ", 'attr': {
                'placeholder' : "Nom..."

    }}) }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ form_row(user.email, {'label': "Votre Mail : ", 'attr': {
                'placeholder' : "Votre Mail ..."

    }}) }}
  </div>
  <div class="col-12">
    {{ form_row(user.password, {'label': "Votre Password : ", 'attr': {
                'placeholder' : "Votre Password ..."

    }}) }}
  </div>
  <div class="col-12">
    {{ form_row(user.passwordConfirm, {'label': "Confirmez votre Password : ", 'attr': {
                'placeholder' : "Confirmez votre Password ..."

    }}) }}
  </div>
</div>
<button type="submit" class="btn btn-success">S'inscrire</button>
{{ form_end(user) }}
{% endblock %}